# Editor
/.idea

# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep

# WordPress
public/back_office
public/.htaccess
public/*.conf

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Cache
/public/app/wflogs
/public/app/advanced-cache.php
/public/app/cache
/public/app/w3tc-config
